.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 12px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__about {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 425px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
    text-align: center;
  }
}
