.card__button-trash {
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  width: 18px;
  height: 19px;
  border: none;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/icon-trash.svg);
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  transition: .25s;
}

.card__button-trash:hover {
  opacity: .6;
  cursor: pointer;
}
